#main {
  background-color: silver;
  text-align: center;
}

#title {
  font-size: 50px;
}

#img-div {
}

#image {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;  
}

#image-caption {
}

#tribute-info {
}

ul {
  max-width: 400px;
  margin: auto;
  text-align: left;
}

#tribute-link {
}